.datePicker-input {
  height: 24px;
  line-height: 24px;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}
.datePicker-input:focus {
  outline: 0 none;
  border: 1px solid #1abc9c;
}
.datePicker-input::-webkit-input-placeholder {
  font-size: 12px;
}
.datePicker-title {
  color: #1ABC9C;
}
.datePicker-wrapper {
  position: absolute;
  width: 260px;
  color: #666;
  font-size: 16px;
  box-shadow: 2px 2px 8px 2px rgba(128,128,128,.3);
  display: none;
}
.datePicker-wrapper-show {
  display: block;
}
.datePicker-header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.datePicker-header-btn {
  color: #1abc9c;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.datePicker-header-btn:focus {
  outline: 0 none;
}
.datePicker-header-prev {
  float: left;
}
.datePicker-header-next {
  float: right;
}
.datePicker-body {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}
.datePicker-body th , .datePicker-body td {
  height: 30px;
  text-align: center;
}
.datePicker-body th {
  color: #1abc9c;
	font-weight: bold;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.datePicker-body td {
  font-size: 12px;
  cursor: pointer;
  transition: all .3s;
  line-height: 25px;
  height: 25px;
}
.datePicker-body .on:hover {
  background: #E63946;
	color: #fff;
  /* border-radius: 3px; */
  margin: 2px 1px;
  line-height: 30px;
  height: 30px;
  box-shadow: 2px 2px 8px 2px rgba(128,128,128,.3);
}
.datePicker-body .on {
  background: #1ABC9C;
  /* border-radius: 3px; */
  color: #fff;
}
.datePicker-body .notSelect {
  background: #F0F0F0;
	color: #ccc;
  cursor: auto;
}
