body {
    background-color: #edece9;
}
#waterfall {
    position: relative;
    min-height: 500px;
    margin: 16px auto 0;
}
.pin {
    position: absolute;
    width: 216px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    transition: opacity .4s ease-in-out;
}

.pin img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.desciption {
    display: block;
    padding: 0 16px;
    margin: 10px 0;
    line-height: 1.35em;
    overflow: hidden;
    /* 允许 长单词 换行到下一行 */
    word-wrap: break-word;
}
